@import url("http://fonts.googleapis.com/css?family=Lato");
body {
  font-family: 'Lato', sans-serif;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
.header-container {
  background: rgba(44,62,80,0.9);
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 122px;
}
.header-container .logo {
  margin: 0;
  padding: 0;
  float: left;
}
.header-container .header-right {
  float: right;
  position: relative;
  width: 40%;
}
.header-container .header-right a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.header-container .header-right .social-buttons,
.header-container .header-right .session,
.header-container .header-right .search,
.header-container .header-right .main-nav {
  position: absolute;
  right: 0;
}
.header-container .header-right .session {
  top: 5px;
  font-size: 20px;
}
.header-container .header-right .session .cart {
  display: inline-block;
  margin-left: 20px;
}
.header-container .header-right .search {
  top: 40px;
}
.header-container .header-right .search #search-form {
  background: #243648;
  border: 1px solid #6d7379;
  font-size: 16px;
  color: #fff;
  padding: 2px 4px;
}
.header-container .header-right .social-buttons {
  top: 2px;
  right: 200px;
}
.header-container .header-right .social-buttons .social {
  display: inline-block;
  float: left;
  margin-right: 5px;
  font-size: 24px;
  color: #fff;
}
.header-container .header-right .main-nav {
  font-size: 20px;
  top: 80px;
  right: 0;
}
.header-container .header-right .main-nav ul,
.header-container .header-right .main-nav li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.header-container .header-right .main-nav li {
  float: left;
  margin-left: 10px;
}
.header-container .header-right .main-nav li a {
  color: #9bafc3;
}
.header-container .header-right .main-nav li a:hover,
.header-container .header-right .main-nav li a.active {
  color: #fff;
}
.main-slider {
  padding: 0;
  margin: 0;
}
.main-container {
  background: #f1f1f1;
  overflow: hidden;
}
.main-container .main-content {
  padding-top: 10px;
}
.main-container .main-content .content {
  float: left;
  width: 780px;
  margin-right: 20px;
}
.main-container .main-content .content .page__title {
  color: #c64b49;
  margin: 0 0 10px 0 !important;
  padding: 3px;
}
.main-container .main-content .sidebar {
  float: right;
  width: 400px;
}
.main-container .main-content .home-producto-title {
  text-transform: uppercase;
  font-size: 30px;
  color: #2c3e50;
  margin: 0 0 6px 0;
  padding: 0;
  border-bottom: 1px solid #8d8585;
}
.main-container .main-content .home-producto {
  background: #fff;
  width: 360px;
  float: left;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.main-container .main-content .home-producto.first {
  margin-left: 20px;
  margin-right: 10px;
}
.main-container .main-content .home-producto .producto-nombre {
  font-size: 20px;
  margin: 0 0 10px 0;
}
.main-container .main-content .home-producto .producto-nombre a {
  color: #2980b9;
  text-decoration: none;
}
.main-container .main-content .home-producto .producto-nombre a:hover {
  text-decoration: underline;
}
.main-container .main-content .home-producto .producto-body {
  padding: 0 8px;
  font-size: 14px;
}
.main-container .main-content .home-producto .producto-body .descripcion {
  float: left;
  width: 60%;
  padding-bottom: 10px;
}
.main-container .main-content .home-producto .producto-body .acciones {
  float: right;
  width: 40%;
  text-align: center;
}
.main-container .main-content .home-producto .producto-body .acciones .precio {
  text-decoration: none;
  display: inline-block;
  background: #ca4a43;
  color: #fff;
  padding: 5px 10px;
  font-size: 18px;
}
.footer-container {
  background: #353535 url("../img/bg-footer.jpg") repeat-x;
  height: 227px;
}
.footer-container .footer {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}
.footer-container .footer .footer-row {
  padding-top: 50px;
  width: 45%;
}
.footer-container .footer .footer-row .logo {
  float: left;
  margin-right: 10px;
}
.footer-container .footer .footer-row .footer-nav {
  font-size: 20px;
  float: right;
}
.footer-container .footer .footer-row .footer-nav ul,
.footer-container .footer .footer-row .footer-nav li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.footer-container .footer .footer-row .footer-nav li {
  float: left;
  margin-left: 10px;
}
.footer-container .footer .footer-row .footer-nav li a {
  color: #fff;
  text-decoration: none;
}
.footer-container .footer .footer-row .footer-nav li a:hover,
.footer-container .footer .footer-row .footer-nav li a.active {
  color: #f7db8c;
}
.footer-container .footer .footer-row .social-buttons {
  clear: both;
  float: right;
}
.footer-container .footer .footer-row .social-buttons .social {
  display: inline-block;
  float: left;
  margin-right: 10px;
  font-size: 30px;
  color: #fff;
}
.footer-container .footer .footer-row .social-buttons .social:hover {
  color: #f7db8c;
}
.footer-container .footer .left {
  float: left;
}
.footer-container .footer .right {
  float: right;
}
.not-front .main-content {
  margin-top: 120px;
}
.not-front .main-content .content {
  background: #fff;
}
.not-front .main-content .content .description {
  padding: 5px 10px;
  float: left;
  width: 490px;
}
.not-front .main-content .content .meta {
  float: right;
  width: 230px;
  padding: 5px 10px;
}
.not-front .main-content .content .meta .uc-price-label {
  display: none;
}
.not-front .main-content .content .meta .sell-price {
  background: #c64b49;
  color: #fff;
  text-align: center;
  font-size: 30px;
  padding: 8px 10px;
}
.not-front .main-content .content .meta .node-add-to-cart {
  background: #eb9907;
  color: #fff;
  font-size: 30px;
  padding: 8px 10px;
  border: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.not-front .main-content .content .meta .node-add-to-cart:before {
  font-family: FontAwesome;
  content: "\f07a";
  display: inline-block;
  padding-right: 3px;
}
.node-type-product .main-content .content {
  overflow: hidden;
}
