@import url(http://fonts.googleapis.com/css?family=Lato);

body
  font-family 'Lato', sans-serif

table
  th, td
    padding 3px 5px

a
  color #2980b9
  text-decoration none

  &:hover
    text-decoration underline
.wrapper
  width 1200px
  margin 0 auto

.header-container
  background rgb(44, 62, 80)
  position fixed
  width 100%
  z-index 100
  height 114px
  -webkit-transition all 0.2s ease-in
  -moz-transition all 0.2s ease-in
  -ms-transition all 0.2s ease-in
  -o-transition all 0.2s ease-in
  transition all 0.2s ease-in

  &.transparent
    background rgba(44, 62, 80, 0.9)
    height 120px

  .logo
    margin 0
    padding 0
    float left

  .header-right
    float right
    position relative
    width 50%

    a
      color #fff
      text-decoration none
      text-transform uppercase

    .social-buttons,
    .session,
    .search,
    .main-nav
      position absolute
      right 0

    .session
      top 5px
      font-size 20px

      .cart
        display inline-block
        margin-left 20px

    .search
      top 40px

      #search-form
        background #243648
        border 1px solid #6d7379
        font-size 16px
        color #fff
        padding 2px 4px
        

    .social-buttons
      top 2px
      right 200px
      .social
        display inline-block
        float left
        margin-right 5px
        font-size 24px
        color #fff

    .main-nav
      font-size 20px
      top 80px
      right 0
      ul, li
        padding 0
        margin 0
        list-style-type none

      li
        float left
        margin-left 10px
      
        a
          color #9bafc3;

          &:hover, &.active
            color #fff

      ul
        ul
          display none
          position absolute
          top 100%
          background rgba(44,62,80,0.9)

          li
            float none
            position relative 

            a
              padding 10px 10px

        li:hover ul
          display block

        &:after
          content ""
          clear both
          display block
        
.main-slider
  padding 0
  margin 0

.main-container
  background #f1f1f1
  overflow hidden

  .main-content
    padding-top 10px

    .content
      float left
      width 780px
      margin-right 20px

      .page__title
        color #c64b49
        margin 0 0 10px 0 !important
        padding 3px

    .sidebar
      float right
      width 400px

      .block-title
        text-transform uppercase
        font-size 30px
        color #2c3e50
        margin 0 0 6px 0
        padding 0
        border-bottom 1px solid #42212c  

    .home-producto-title
      text-transform uppercase
      font-size 30px
      color #2c3e50
      margin 0 0 6px 0
      padding 0
      border-bottom 1px solid #8d8585

    .home-producto
      background #fff
      width 360px
      height 500px
      float left
      margin-left 10px
      margin-right 20px
      margin-bottom 20px

      &.first
        margin-left 20px
        margin-right 10px

      &:nth-child(2n)
        margin-left 20px
        margin-right 10px        

      .producto-nombre
        font-size 20px
        margin 0 0 10px 0
        height 50px

      .producto-body
        padding 0 8px
        font-size 14px

        .descripcion
          float left
          width 60%
          padding-bottom 10px

        .acciones
          float right
          width 40%
          text-align center

          .precio
            text-decoration none
            display inline-block
            background #ca4a43
            color #FFF
            padding 5px 10px
            font-size 18px
            -webkit-transition all 0.1s ease-in
            -moz-transition all 0.1s ease-in
            -ms-transition all 0.1s ease-in
            -o-transition all 0.1s ease-in
            transition all 0.1s ease-in

            &:hover
              transform scale(1.1, 1.1)
              -webkit-transform scale(1.1, 1.1)
              -moz-transform scale(1.1, 1.1)
              -o-transform scale(1.1, 1.1)
              -ms-transform scale(1.1, 1.1)


.footer-container
  background #353535 url('../img/bg-footer.jpg') repeat-x
  height 227px

  .footer
    font-size 20px
    color #fff
    text-transform uppercase

    .footer-nav
      ul ul
        display none

    .footer-row
      padding-top 50px
      width 45%

      .logo
        float left
        margin-right 10px

      .footer-nav
        font-size 20px
        float right
        ul, li
          padding 0
          margin 0
          list-style-type none

        li
          float left
          margin-left 10px
        
          a
            color #fff;
            text-decoration none

            &:hover, &.active
              color #f7db8c 

      .social-buttons
        clear both
        float right
        .social
          display inline-block
          float left
          margin-right 10px
          font-size 30px
          color #fff

          &:hover
            color #f7db8c
        
    .left
      float left

    .right
      float right

.not-front .main-content
  margin-top 120px
  .content
    background #fff
    color #646464
    padding 4px 10px
    width 760px

    .desc
      float left
      width 500px

    .meta
      float right
      width 230px
      padding 5px 10px
      padding-top 20px

      .easy_social-widget
        float none
        padding-right 
        width 200px
        margin auto
        margin-bottom 10px

      .uc-price-label
        display none

      .sell-price
        background #c64b49
        color #fff
        text-align center
        font-size 30px
        padding 8px 10px

      .tvfacil-add-cart
        background #eb9907
        color #fff
        font-size 30px
        padding 8px 10px
        border 0
        width 100%
        text-align center
        text-transform uppercase

        &:hover
          background #d58801

        &:before
          font-family FontAwesome
          content "\f07a "
          display inline-block
          padding-right 3px
        
        

.node-type-product
  .main-content .content
    overflow hidden
    width 780px
    padding 0

    .desc
      padding-left 10px

.sidebar-block
  margin-bottom 20px
  ul, li
    padding 0
    margin 0
    list-style-type none

  li
    border-bottom 1px solid #dcdcdc
    margin-bottom 5px
    text-transform uppercase
    padding 4px 0

    a
      color #2d3c4f

.page-productos .main-content .content,
.page-taxonomy-term .main-content .content,
.node-type-article .main-content .content
.page-search-node .main-content .content,
  background none
  width 780px
  padding 0

.pager a
  display inline-block
  padding 4px 10px
  border 1px solid #cdcdca
  background #fff

.node-teaser
  margin-bottom 20px
  border-bottom 1px solid #cdcdca