@import url(http://fonts.googleapis.com/css?family=Lato);

body
  font-family 'Lato', sans-serif

.wrapper
  width 1200px
  margin 0 auto

.header-container
  background rgba(44, 62, 80, 0.9)
  position fixed
  width 100%

  .logo
    margin 0
    padding 0