@import url(http://fonts.googleapis.com/css?family=Lato);

body
  font-family 'Lato', sans-serif

.wrapper
  width 1200px
  margin 0 auto

.header-container
  background rgba(44, 62, 80, 0.9)
  position fixed
  width 100%
  z-index 100

  .logo
    margin 0
    padding 0
    float left

  .header-right
    float right
    position relative
    width 40%

    a
      color #fff
      text-decoration none
      text-transform uppercase

    .social-buttons,
    .session,
    .search,
    .main-nav
      position absolute
      right 0

    .session
      top 5px
      font-size 20px

      .cart
        display inline-block
        margin-left 20px

    .search
      top 40px

    .social-buttons
      top 2px
      right 180px
      .social
        display inline-block
        float left
        margin-right 5px
        font-size 24px
        color #fff

    .main-nav
      font-size 20px
      top 80px
      right 0
      ul, li
        padding 0
        margin 0
        list-style-type none

      li
        float left
        margin-left 10px
      
        a
          color #9bafc3;

          &:hover, &.active
            color #fff;
        
.main-slider
  padding 0
  margin 0

.main-container
  background #f1f1f1
  overflow hidden

  .main-content
    padding-top 10px

    .content
      float left
      width 780px
      margin-right 20px

    .sidebar
      float right
      width 400px

    .home-producto-title
      text-transform uppercase
      font-size 30px
      color #2c3e50
      margin 0 0 6px 0
      padding 0
      border-bottom 1px solid #8d8585

    .home-producto
      background #fff
      width 360px
      float left
      margin-left 10px
      margin-right 20px
      margin-bottom 20px

      &.first
        margin-left 20px
        margin-right 10px

      .producto-nombre
        font-size 20px
        margin 0 0 10px 0

        a
          color #2980b9
          text-decoration none

          &:hover
            text-decoration underline

      .producto-body
        padding 0 8px
        font-size 14px

        .descripcion
          float left
          width 60%
          padding-bottom 10px

        .acciones
          float right
          width 40%
          text-align center

          .precio
            text-decoration none
            display inline-block
            background #ca4a43
            color #FFF
            padding 5px 10px
            font-size 18px


