@import url(http://fonts.googleapis.com/css?family=Lato);

body
  font-family 'Lato', sans-serif

.wrapper
  width 1200px
  margin 0 auto

.header-container
  background rgba(44, 62, 80, 0.9)
  position fixed
  width 100%

  .logo
    margin 0
    padding 0
    float left

  .header-right
    float right
    position relative
    width 40%

    a
      color #fff
      text-decoration none
      text-transform uppercase

    .social-buttons,
    .session,
    .search,
    .main-nav
      position absolute
      right 0

    .session
      top 5px
      font-size 20px

      .cart
        display inline-block
        margin-left 20px

    .search
      top 40px

    .social-buttons
      top 2px
      right 180px
      .social
        display inline-block
        float left
        margin-right 5px
        font-size 24px
        color #fff

    .main-nav
      font-size 20px
      top 80px
      right 0
      ul, li
        padding 0
        margin 0
        list-style-type none

      li
        float left
        margin-left 10px
      
        a
          color #9bafc3;

          &:hover, &.active
            color #fff;
        
