extends layout

block slides
  .home-slider#slides
    ul.main-slider.slides-container
      li
        a(href="#")
          img.slider(src="http://placehold.it/1600x780/fdcffa", width="1600", height="780")
      li
        a(href="#")
          img.slider(src="http://placehold.it/1600x780/e4d2c1", width="1600", height="780")
      li
        a(href="#")
          img.slider(src="http://placehold.it/1600x780/c7d4aa", width="1600", height="780")

block content
  .home-productos
    h3.home-producto-title Televisores
    .home-producto.first
      a(href="#")
        img.producto-imagen(src="http://placehold.it/360x234", width="360", height="234")
      h4.producto-nombre
        a(href="#") LG Electronics 42LB6300 42-Inch 1080p 120Hz Smart LED TV
      .producto-body
        .descripcion
          | Refresh Rate: 120Hz (Native); Motion Clarity Index: 600 (Effective)
          | Backlight: LED (Direct LED)
          | Smart Functionality: Yes - WebOS, Includes Magic Remote
        .acciones
          a.precio(href="#") S/. 1700.00
    .home-producto
      a(href="#")
        img.producto-imagen(src="http://placehold.it/360x234", width="360", height="234")
      h4.producto-nombre
        a(href="#") LG Electronics 42LB6300 42-Inch 1080p 120Hz Smart LED TV
      .producto-body
        .descripcion
          | Refresh Rate: 120Hz (Native); Motion Clarity Index: 600 (Effective)
          | Backlight: LED (Direct LED)
          | Smart Functionality: Yes - WebOS, Includes Magic Remote
        .acciones
          a.precio(href="#") S/. 1700.00

    h3.home-producto-title Cámaras
    .home-producto.first
      a(href="#")
        img.producto-imagen(src="http://placehold.it/360x234", width="360", height="234")
      h4.producto-nombre
        a(href="#") LG Electronics 42LB6300 42-Inch 1080p 120Hz Smart LED TV
      .producto-body
        .descripcion
          | Refresh Rate: 120Hz (Native); Motion Clarity Index: 600 (Effective)
          | Backlight: LED (Direct LED)
          | Smart Functionality: Yes - WebOS, Includes Magic Remote
        .acciones
          a.precio(href="#") S/. 1700.00
    .home-producto
      a(href="#")
        img.producto-imagen(src="http://placehold.it/360x234", width="360", height="234")
      h4.producto-nombre
        a(href="#") LG Electronics 42LB6300 42-Inch 1080p 120Hz Smart LED TV
      .producto-body
        .descripcion
          | Refresh Rate: 120Hz (Native); Motion Clarity Index: 600 (Effective)
          | Backlight: LED (Direct LED)
          | Smart Functionality: Yes - WebOS, Includes Magic Remote
        .acciones
          a.precio(href="#") S/. 1700.00