doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="bower_components/normalize.css/normalize.css", type="text/css")
    link(rel="stylesheet", href="bower_components/font-awesome/css/font-awesome.min.css", type="text/css")
    link(rel="stylesheet", href="css/styles.css", type="text/css")
    title Tv Fácil

  body
    .header-container
      header.header.wrapper
        h1.logo
          a(href="#")
            img(src="http://placehold.it/200x100")
        .header-right
          aside.social-buttons
            a.social.fb(href="#")
              i.fa.fa-facebook-square
            a.social.tw(href="#")
              i.fa.fa-twitter-square
            a.social.gp(href="#")
              i.fa.fa-google-plus-square
            a.social.sp(href="#")
              i.fa.fa-skype
            a.social.yt(href="#")
              i.fa.fa-youtube-square

          aside.session
            a.me(href="#") 
              span
                i.fa.fa-user
                |  Claudio
            a.cart(href="#") 
              i.fa.fa-shopping-cart
          aside.search
            form
              input(type="text")

          nav.main-nav
            ul
              li.active
                a.active(href="#") Inicio
              li
                a(href="#") Productos
              li
                a(href="#") Nosotros
              li
                a(href="#") Contacto

    .home-slider
      a(href="#")
        img.slider(src="http://placehold.it/1500x1000")

