doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="bower_components/normalize.css/normalize.css", type="text/css")
    link(rel="stylesheet", href="bower_components/font-awesome/css/font-awesome.min.css", type="text/css")
    link(rel="stylesheet", href="bower_components/superslides/dist/stylesheets/superslides.css", type="text/css")
    link(rel="stylesheet", href="css/styles.css", type="text/css")
    block css
    title Tv Fácil

  body
    .header-container
      header.header.wrapper
        h1.logo
          a(href="#")
            img(src="http://placehold.it/200x100", width="200", height="100")
        .header-right
          aside.social-buttons
            a.social.fb(href="#")
              i.fa.fa-facebook-square
            a.social.tw(href="#")
              i.fa.fa-twitter-square
            a.social.gp(href="#")
              i.fa.fa-google-plus-square
            a.social.sp(href="#")
              i.fa.fa-skype
            a.social.yt(href="#")
              i.fa.fa-youtube-square

          aside.session
            a.me(href="#") 
              span
                i.fa.fa-user
                |  Claudio
            a.cart(href="#") 
              i.fa.fa-shopping-cart
          aside.search
            form
              input#search-form(type="text", placeholder="Buscar")

          nav.main-nav
            ul
              li.active
                a.active(href="#") Inicio
              li
                a(href="#") Productos
              li
                a(href="#") Nosotros
              li
                a(href="#") Contacto
    block slides

    .main-container
      .main-content.wrapper
        .content
          block content
            
        .sidebar
          .sidebar-bloque
            p
              img(src="http://placehold.it/400x100", width="400", height="100")
          .sidebar-bloque
            p
              img(src="http://placehold.it/400x100", width="400", height="100")
          .sidebar-bloque
            p
              img(src="http://placehold.it/400x100", width="400", height="100")
          .sidebar-bloque
            p
              img(src="http://placehold.it/400x100", width="400", height="100")
          block sidebar

    .footer-container
      footer.footer.wrapper
        .footer-row.left
          .logo
            img(src="http://placehold.it/200x100", width="200", height="100")
          .info
            p
             | CC. Molino 145
             | Teléfono 232323
             | Celular: 9898989
             | venta@tvfacilcusco.com 

        .footer-row.right
          aside.footer-nav.clearfix
            ul
              li.active
                a.active(href="#") Inicio
              li
                a(href="#") Productos
              li
                a(href="#") Nosotros
              li
                a(href="#") Contacto

          aside.social-buttons.clearfix
            a.social.fb(href="#")
              i.fa.fa-facebook-square
            a.social.tw(href="#")
              i.fa.fa-twitter-square
            a.social.gp(href="#")
              i.fa.fa-google-plus-square
            a.social.sp(href="#")
              i.fa.fa-skype
            a.social.yt(href="#")
              i.fa.fa-youtube-square

  script(src="bower_components/jquery/jquery.min.js")
  script(src="bower_components/superslides/dist/jquery.superslides.min.js")
  script(src="js/tvfacil.js")
  block js

